<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<link rel='stylesheet' href='/css/style.css' />

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

	<script src="/js/style.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<link rel="icon" href="/img/favicon.ico" type="image/gif" sizes="16x16">
</head>
<body>
	<div class="container-fluid h-100">
		<div class="row justify-content-center h-100">
			<% if (typeof message != 'undefined') { %>
			<h3><%= message %></h3>
			<% } %>
			<div class="col-md-4 col-xl-3 chat">
				<div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn">Đăng ký</span>
							</div>
						</div>
					</div>
					<div class="card-body contacts_body">
						<ui class="contacts">
							<li class="active">
								<div class="d-flex bd-highlight">
									<div class="img_cont">
										<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
										<span class="online_icon"></span>
									</div>
									<div class="user_info">
										<span>Khalid</span>
										<p>Kalid is online</p>
									</div>
								</div>
							</li>
							<li>
								<div class="d-flex bd-highlight">
									<div class="img_cont">
										<img src="https://2.bp.blogspot.com/-8ytYF7cfPkQ/WkPe1-rtrcI/AAAAAAAAGqU/FGfTDVgkcIwmOTtjLka51vineFBExJuSACLcBGAs/s320/31.jpg" class="rounded-circle user_img">
										<span class="online_icon offline"></span>
									</div>
									<div class="user_info">
										<span>Taherah Big</span>
										<p>Taherah left 7 mins ago</p>
									</div>
								</div>
							</li>
							<li>
								<div class="d-flex bd-highlight">
									<div class="img_cont">
										<img src="https://i.pinimg.com/originals/ac/b9/90/acb990190ca1ddbb9b20db303375bb58.jpg" class="rounded-circle user_img">
										<span class="online_icon"></span>
									</div>
									<div class="user_info">
										<span>Sami Rafi</span>
										<p>Sami is online</p>
									</div>
								</div>
							</li>
							
							<li>
								<div class="d-flex bd-highlight">
									<div class="img_cont">
										<img src="https://static.turbosquid.com/Preview/001214/650/2V/boy-cartoon-3D-model_D.jpg" class="rounded-circle user_img">
										<span class="online_icon offline"></span>
									</div>
									<div class="user_info">
										<span>Rashid Samim</span>
										<p>Rashid left 50 mins ago</p>
									</div>
								</div>
							</li>
						</ui>
					</div>
					<div class="card-footer" id="result">
						
					</div>
				</div>
			</div>
			<div class="col-md-8 col-xl-6 chat">
				<div class="card">
					<div class="card-header msg_head">
						<div class="d-flex bd-highlight">
							<div class="img_cont">
								<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
								<span class="online_icon"></span>
							</div>
							<div class="user_info">
								<span>Chat with Khalid</span>
								<p>1767 Messages</p>
							</div>
							<div class="video_cam">
								<span><i class="fas fa-video"></i></span>
								<span><i class="fas fa-phone"></i></span>
							</div>
						</div>
						<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
						<div class="action_menu">
							<ul>
								<li><i class="fas fa-user-circle"></i> View profile</li>
								<li><i class="fas fa-users"></i> Add to close friends</li>
								<li><i class="fas fa-plus"></i> Add to group</li>
								<li><i class="fas fa-ban"></i> Block</li>
							</ul>
						</div>
					</div>
					<div class="card-body msg_card_body">
						
					</div>
					<div class="card-footer">
						<div class="gallery"></div>
						<form id="message_form">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn" onclick="document.getElementById('file_image').click()">
										<i class="fas fa-file-image"></i>
										<input type="file" name="file_image" class="form-control hidden" id="file_image" multiple="" accept="image/*, video/*">
									</span>
									<span class="input-group-text file_input" onclick="document.getElementById('file_input').click()">
										<i class="fas fa-paperclip"></i>
										<input type="file" name="file_input" class="form-control hidden" id="file_input" multiple="" >
									</span>
								</div>
								<input name="" id="msg" class="form-control type_msg" placeholder="Type your message..." />
								<div class="input-group-append">
									<button class="input-group-text send_btn" type="submit">
										<i class="fas fa-location-arrow"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				<ul class="list-group">
				    <% for (var i = 0; i < files.length; i++) { %>
				    <li class="list-group-item">
				    	<%= files[i] %>
				    	<button class="btn btn-danger float-right" onclick="delete_file('<%= files[i] %>')">Xóa</button>
				    </li>
				    <% } %>
				</ul>
			</div>
		</div>
	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/client.js"></script>
	
	<script type="text/javascript">

	    $('#file_image').on('change', function() {
	        if (this.files) {
	            var filesAmount = this.files.length;
	            $('div.gallery').empty()
	            for (i = 0; i < filesAmount; i++) {
	                var reader = new FileReader();
	                reader.onload = function(event) {
	                    $($.parseHTML('<img>')).attr('src', event.target.result).appendTo('div.gallery');
	                }
	                reader.readAsDataURL(this.files[i]);
	            }
	        }
	    });

	    function delete_file(file) {
	    	$.ajax({
		        url: '/delete_file',
		        data: {
		        	file: file
		        },
		        dataType: 'json',
		        method: 'post',
		        success: function(data){
		        	console.log(data)
		        }
		    });
	    }
	</script>
</body>
</html>
